// Variables

$color-main: #044F69;
$color-main-lighter: lighten($color-main, 10%);
$color-main-darker: darken($color-main, 10%);

$card-border-radius: 3px;

// CSS

body {
  background-color: #EEE;
  font-family: 'Work Sans', sans-serif;
}

h1 {
  margin-bottom: 10px;
  padding: 0 15px;
  font-size: 40px;
  font-weight: 700;
}

.container {
  display: -webkit-flex;
  display: flex;
  margin: 0 auto;
  width: 80%;

  & > .card {
    margin: 0 15px;
  }
}

.card {
  margin-top: 50px;
  width: 500px;
  border-radius: $card-border-radius;
  background-color: #FFF;
  box-shadow: 3px 3px 2px rgba(0,0,0, 0.2);

  header {
    position: relative;
    display: flex;
    align-items: flex-start;
    padding: 20px 20px 30px 20px;
    border-radius: $card-border-radius $card-border-radius 0 0;

    .card__overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(135deg, $color-main, $color-main-darker);
      border-radius: $card-border-radius $card-border-radius 0 0;
      opacity: 0.8;
      z-index: 1;
    }

    .card__image {
      position: relative;
      z-index: 2;
      width: 80px;
      margin-right: 15px;
    }

    .card__title {
      position: relative;
      z-index: 2;

      p {
        color: #FFF;
      }

      h2 {
        font-size: 28px;
        font-weight: 300;
        color: #FFF;
      }
    }
  }

  .card__rating {
    margin-top: 5px;
    color: #FFF;

    span {
      display: inline-block;

      &:not(:first-child) {
        margin-left: 3px;
      }
    }
  }

  .card__price {
    position: absolute;
    right: 20px;
    bottom: -25px;
    padding: 0 10px;
    height: 50px;
    min-width: 50px;
    font-size: 16px;
    font-weight: 700;
    color: $color-main;
    line-height: 50px;
    text-align: center;
    background-color: #FFF;
    border-radius: 25px;
    z-index: 5;
    box-shadow: 0 3px 3px rgba(0,0,0, 0.2);
  }

  .card__body {
    padding: 20px;
  }

  .card__specs {
    & > li {
      &:not(:first-child) {
        margin-top: 5px;
      }
    }
  }

  .card__label {
    margin-bottom: 5px;
    text-transform: capitalize;
    font-weight: 700;
  }
}
